In [2]:
select iiF(SZOBA_FK is null, 'végösszeg', cast(sz.szoba_ID as nvarchar(50))),
    iif(year(mettol) is null, 'Részösszeg', cast(Year(mettol) as nvarchar(50))),
    count(f.FOGLALAS_PK)
from Foglalas f join szoba sz on f.SZOBA_FK = sz.szoba_ID
group by rollup(sz.szoba_id, Year(mettol))

: Msg 8120, Level 16, State 1, Line 1
Column 'Foglalas.SZOBA_FK' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [5]:
SELECT f.*
from Foglalas f join vendeg v on f.UGYFEL_FK = v.USERNEV
where v.SZUL_DAT < (
    select USERNEV
    from Vendeg
    where SZUL_DAT < (
        select max(SZUL_DAT)
        from vendeg
    )
)

: Msg 512, Level 16, State 1, Line 1
Subquery returned more than 1 value. This is not permitted when the subquery follows =, !=, <, <= , >, >= or when the subquery is used as an expression.